body {
     font-family: monospace;
     text-align: center;
     background: url(https://github.com/thebadcc/snap-castles/blob/main/images/backgroundBanner_v2.png?raw=true);
     background-size: cover;

}
#preview {
  height:100%;
  width: 100%;
}

.structure {
  width: 15px;
  font-family: monospace;
  text-align: center;
}
.response {
   word-wrap: break-word;
   width: 230px;
   margin: auto;   
}

.copyButton {
  margin: 10px;
  width: 230px;
}

.generateButton {
  margin: 10px;
  width: 230px;
}

.fileButton {
  margin: 10px;
  width: 230px;
}

a {
  color: black;
}

.s9 {
  color: black;
  background: #d3d3d3;
}

.s8 {
  color: black;
  background: #bebebe;
}

.s7 {
  color: black;
  background: #a9a9a9;
}

.s6 {
   color: black;
   background: #949494;
}

.s5 {
   color: black;
   background: #7f7f7f;
}

.s4 {
   color: white;
   background: #6a6a6a; 
}

.s3 {
   color: white;  
   background: #545454;
}

.s2 {
   color: white;
   background: #3f3f3f;
}

.s1 {
  color: white;
  background: #2a2a2a;
}
